# Dictionary - Examples & Tools

### Examples

#### 1. Creating List of Dictionaries

In [4]:
customers = []
keys = ['customerID','First Name','Last Name','Address','Education']

In [6]:
fname = input('first name: ')
lname = input('last name: ')
address = input('address: ')
education = input('education: ')

customerID = len(customers)
values = [customerID,fname,lname,address,education]      # create list of values (same size as list of keys)

record = dict(zip(keys,values))             # create a dictionary based on lists of keys and values
customers.append(record)                    # add dictionary to the list at the last

print(customers)

first name:bilal
last name:hamid
address:islamabad
education:acma
[{'customerID': 0, 'First Name': 'amir', 'Last Name': 'rehman', 'Address': 'islamabad', 'Education': 'aca'}, {'customerID': 1, 'First Name': 'bilal', 'Last Name': 'hamid', 'Address': 'islamabad', 'Education': 'acma'}]

#### 2. Creating Dictionary of Dictionaries

In [14]:
customers = {}
keys = ['First Name','Last Name','Address','Education']

In [17]:
fname = input('first name:')
lname = input('last name:')
address = input('address:')
education = input('education:')

customerID = 'CustomerID-' + str(len(customers))
values = [fname,lname,address,education]      # create list of values (same size as list of keys)

record = dict(zip(keys,values))             # create a dictionary based on lists of keys and values
customers[customerID] = record              # add dictionary to the dictionary

customers

first name:bilal
last name:hamid
address:rwp
education:acma

{'CustomerID-0': {'First Name': 'amir',
  'Last Name': 'rehman',
  'Address': 'islamabad',
  'Education': 'aca'},
 'CustomerID-1': {'First Name': 'bilal',
  'Last Name': 'hamid',
  'Address': 'rwp',
  'Education': 'acma'}}

In [19]:
customers['CustomerID-1']['Education']

'acma'

### Tools

#### 1. Create dictionary from two lists

In [20]:
keys = [1, 2, 3]               # list 1
values = ['x', 'y', 'z']       # list 2

dict1 = dict(zip(keys, values))          # Option 1: using zip() function
dict1

{1: 'x', 2: 'y', 3: 'z'}

In [22]:
keys = [1, 2, 3]               # list 1
values = ['x', 'y', 'z']       # list 2

dict1 = {}                               # Option 2: using for loop + update() function
for x in range(len(keys)):
    dict1.update({keys[x]:values[x]})
dict1

{1: 'x', 2: 'y', 3: 'z'}

#### 2. Merge two dictionaries

In [24]:
dict1 = {1: 'a', 2: 'b', 3: 'c'}
dict2 = {7: 'x', 8: 'y', 9: 'z'}

dict3 = {**dict1, **dict2}              # option 1: ** shortest technique
dict3

{1: 'a', 2: 'b', 3: 'c', 7: 'x', 8: 'y', 9: 'z'}

In [28]:
dict1 = {1: 'a', 2: 'b', 3: 'c'}
dict2 = {7: 'x', 8: 'y', 9: 'z'}

dict3 = {}                              # option 2: empty dict + update() function
dict3.update(dict1)
dict3.update(dict2)
dict3

{1: 'a', 2: 'b', 3: 'c', 7: 'x', 8: 'y', 9: 'z'}

In [29]:
dict1 = {1: 'a', 2: 'b', 3: 'c'}
dict2 = {7: 'x', 8: 'y', 9: 'z'}

dict3 = dict1.copy()                    # option 3: copy() + update() function
dict3.update(dict2)
dict3

{1: 'a', 2: 'b', 3: 'c', 7: 'x', 8: 'y', 9: 'z'}

#### 3. Accessing value from deep inside a dictionary

In [32]:
dict0 = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

dict0['class']['student']['marks']['history']     # getting value of 'history' key

80

#### 4. Initialize Dictionary with default values

In [35]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

dict1 = dict.fromkeys(employees,defaults)
dict1

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

#### 5. Creating new dictionary with subset keys from another dictionary

In [45]:
dict0 = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

dict1 = {k:dict0[k] for k in keys}
dict1

{'name': 'Kelly', 'salary': 8000}

In [47]:
dict2 = {}
for k in keys:
    dict2.update({k:dict0[k]})
dict2

{'name': 'Kelly', 'salary': 8000}

#### 6. Removing list of specified pairs from dictionary

In [49]:
dict0 = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

for k in keys:
    dict0.pop(k)
dict0

{'age': 25, 'city': 'New york'}

#### 7. Check if value exist in dictionary

In [59]:
dict0 = {'a': 100, 'b': 200, 'c': 300}


if 200 in dict0.values():                    # option 1: Using if statement
    print('200 is included in dictionary')

for x in dict0:                              # option 2: Using For loop + if statement 
    if dict0[x] == 200:
        print('200 is included in dictionary')
        break

200 is included in dictionary
200 is included in dictionary

#### 8. Rename key of a dictionary

In [66]:
dict0 = {
  "name": "Kelly",
  "age": 25,
  "salary": 8000,
  "city": "New york"
}

dict0['location'] = dict0.pop('city')        # Option 1: Using pop() only
dict0

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [67]:
dict0 = {
  "name": "Kelly",
  "age": 25,
  "salary": 8000,
  "city": "New york"
}

x = dict0.pop('city')        # Option 2: Using pop() + update() functions
dict0.update({'location':x})
dict0

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

#### 9. Get the key of a minimum value from the following dictionary

In [74]:
dict0 = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

minKey = min(dict0, key=dict0.get)       # key with min value
print(minKey)

minValue = min(dict0.values())           # value of min value
print(minValue)

Math
65

#### 10. Change value of a key in nest dictionary

In [75]:
dict0 = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

dict0['emp3']['salary'] = 8500
dict0

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}