# List

## Table of Contents
1. Definition
2. Syntax (and properties)
3. List of Methods (11x + 1x)
4. Slicing

### Definition

1. list is a Data type
2. list is an array
3. list can hold multiple data types
4. list is mutable (i.e. values can be added, modified and deleted)
5. index:
        starts from 0 from left side
        starts from -1 from right side

### Syntax:

In [44]:
names = ['amir','bilal','asad','imran']

##### Parameters of lists are:

In [47]:
print(type(names))    # datatype of variable
print(id(names))      # memory address of variable
print(len(names))     # count of members in list
print(len(names[1]))  # count of characters in the member on specified index

<class 'list'>
2310359428032
4
5

### list Methods

    1. ADDING ELEMENTS
        1. append(value)
        2. insert(index, value)
        3. extend([value1, value2, value3])
    2. REMOVING ELEMENTS
        1. clear()
        2. remove(value)
        3. pop(index)
        4. del            # this is a keyword
    3. SORTING ELEMENTS
        1. sort()
        2. reverse()
    4. OTHERS
        1. index()
        2. copy()
        3. count()

#### ADDING ELEMENTS

In [52]:
# append()

###################################
# add value at the end
# syntax:
#        listName.append(value)
###################################

names.append('Asif')
names

['amir', 'bilal', 'asad', 'imran', 'Asif']

In [53]:
# insert()

#####################################
# add value at specific index no.
# syntax:
#        listName.insert(index,value)
#####################################

names.insert(1,'wasif')
names

['amir', 'wasif', 'bilal', 'asad', 'imran', 'Asif']

In [54]:
# extend()

#######################################################
# add more than 1 value at the end of list
# syntax:
#        listName.extend(['value1','value2','value3'])
#######################################################

names.extend(['fayyaz','ali','jamal'])
names

['amir', 'wasif', 'bilal', 'asad', 'imran', 'Asif', 'fayyaz', 'ali', 'jamal']

#### DELETING ELEMENTS

In [55]:
# clear()

############################################
# delete all elements from the list
# syntax:
#        listName.clear()
############################################

names.clear()
names

[]

In [2]:
# again adding the elements for further usage

names = ['amir', 'wasif', 'bilal', 'asad', 'imran', 'Asif', 'fayyaz', 'ali', 'jamal']
names

['amir', 'wasif', 'bilal', 'asad', 'imran', 'Asif', 'fayyaz', 'ali', 'jamal']

In [3]:
# remove()

################################################
# delete value from list by specifying the value
# syntax:
#        listName.remove('value')
################################################

names.remove('asad')
names

['amir', 'wasif', 'bilal', 'imran', 'Asif', 'fayyaz', 'ali', 'jamal']

In [4]:
# pop()

################################################################
# delete value from the end of list (or from index if specified)
# syntax
#       listName.pop()
#       listName.pop(index)
################################################################

poppedValue = names.pop()
names

['amir', 'wasif', 'bilal', 'imran', 'Asif', 'fayyaz', 'ali']

In [5]:
# del

################################################
# delete value from list by specifying the index
# syntax:
#        del listName[index]
################################################

del names[1]
names

['amir', 'bilal', 'imran', 'Asif', 'fayyaz', 'ali']

#### SORTING ELEMENTS

In [6]:
# sort

##################################################
# sort values in asending or decending order
# syntax:
#        listName.sort()               //ascending
#        listName.sort(reverse=True)   //decending
##################################################

names.sort()
names

['Asif', 'ali', 'amir', 'bilal', 'fayyaz', 'imran']

In [7]:
names.sort(reverse=True)
names

['imran', 'fayyaz', 'bilal', 'amir', 'ali', 'Asif']

In [8]:
# reverse()

#########################################
# reverse the order of values in list
# syntax:
#        listName.reverse()
#########################################

names.reverse()
names

['Asif', 'ali', 'amir', 'bilal', 'fayyaz', 'imran']

#### OTHER METHODS

In [9]:
# index()

#########################################
# returns the index of value in the list
# syntax:
#        listName.index(value)
#########################################

print(names.index('amir'))
print(names[2].index('r'))

2
3

In [10]:
# copy()

#################################################################
# create the exact copy of list (not referenced to original list)  ----> also known as deep copy
# syntax:
#        newListName = listName.copy()
#################################################################

names2 = names.copy()
names[0] = 'wasif'
names2

['Asif', 'ali', 'amir', 'bilal', 'fayyaz', 'imran']

In [11]:
# count()

#########################################################
# count the no. of members of specified value in the list
# syntax:
#        listName.count()
#########################################################
# hint: use len() function for entire count of members in the list

print(len(names))
print(names.count('amir'))

6
1

### Slicing
Accessing value(s) from the list

1. listName[index]                 access 1 value

2. listName[start : end]           access multiple values with 1 step (do not include spaces)

3. listName[start : end : step]    access multiple values with n steps (do not include spaces)


note: start, end and step can be left empty

In [47]:
names = ['ali', 'amir', 'bilal', 'fayyaz', 'imran', 'wasif']
names

['ali', 'amir', 'bilal', 'fayyaz', 'imran', 'wasif']

In [46]:
#  0       1       2         3        4        5              >> index from left to right
# -6      -5      -4        -3       -2       -1              >> index from right to left

In [40]:
names[1]                  # access 1 value

'amir'

#### Extracting from Left to Right

In [67]:
names[1:4]                # with positive index

['amir', 'bilal', 'fayyaz']

In [68]:
names[-4:-1]              # with negative index

['bilal', 'fayyaz', 'imran']

In [69]:
names[2:-1]               # with combination of index

['bilal', 'fayyaz', 'imran']

In [70]:
names[1:6:2]              # with skipping steps

['amir', 'fayyaz', 'wasif']

#### Extracting from Right to Left

In [71]:
names[4:1:-1]                # with positive index

['imran', 'fayyaz', 'bilal']

In [72]:
names[-1:-4:-1]              # with negative index

['wasif', 'imran', 'fayyaz']

In [73]:
names[-2:2:-1]               # with combination of index

['imran', 'fayyaz']

In [74]:
names[-1:0:-2]               # with skipping steps

['wasif', 'fayyaz', 'amir']

## TOOLS

##### Tool 1: Finding negative index
positive index - length of list = negative index

In [33]:
names = ['ali', 'amir', 'bilal', 'fayyaz', 'imran', 'wasif']
names

['ali', 'amir', 'bilal', 'fayyaz', 'imran', 'wasif']

In [24]:
#  0       1       2         3        4        5              >> index from left to right
# -6      -5      -4        -3       -2       -1              >> index from right to left

In [34]:
names.index('bilal')                    # positive index            output:  2
len(names)                              # total length of list      output:  6
names.index('bilal') - len(names)       # negative index            output: -4

-4