# STRING

### Table of Contents

    1. Definition
    2. Syntax - (How Strings are created).
    3. Methods
    4. Tools & Techniques

## 1. Definition

1. Series of characters enclosed in quotes
2. String is a datatype
3. String can be maniupated using pre-defined functions/methods

### Strings are Arrays

In [1]:
for x in 'amir':
    print(x)

a
m
i
r

## 2. Syntax

### How Strings can be entered - 4x

In [2]:
# 1. With double qoutes

name = "Amir"
print(name)

Amir

In [2]:
# 2. With single quote

name = 'Amir'
print(name)

Amir

In [7]:
# 3. With 3 double quotes

name = """Syed Amir Rehman
Batch 37 - Online
PIAIC
Islamabad"""
print(name)

Syed Amir Rehman
Batch 37 - Online
PIAIC
Islamabad

In [8]:
# 4. With 3 single quotes

name = '''Syed Amir Rehman
Batch 37 - Online
PIAIC
Islamabad'''
print(name)

Syed Amir Rehman
Batch 37 - Online
PIAIC
Islamabad

### String Slicing

1. Slice (access characters) using positive or negative index
2. var_name[start index : last index : step]
3. first index is included
4. last index is excluded
5. steps can be negative to slice in reverse order (from right to left)

#### 1. Indexing (Positive)

In [25]:
my_name = 'Amir'
# index    0123

print(my_name[0])            # char at 0 index
print(my_name[1:3])          # char start from 1st and end with (3-1) index
print(my_name[:3])           # char begin from start and end with (3-1) index
print(my_name[2:])           # char begin with 2nd index till end
print(my_name[1::2])         # char being with 1st index till end with two steps

A
mi
Ami
ir
mr

#### 2. Negative Indexing

In [26]:
my_name = 'Rehman'
# index    -6 -5 -4 -3 -2 -1

print(my_name[-6])           # char at -6 index
print(my_name[-3:-1])        # char being with -3 index till -2 index
print(my_name[:-3])          # char from start till -4 index
print(my_name[-4:])          # char start from -4 till end
print(my_name[-2:-5:-1])     # in reverse order - start from -2 to -4

R
ma
Reh
hman
amh

## 4. Methods

#### 1. Change Case

In [4]:
x = 'Amir Rehman'

x = x.lower()       # 1. To lower case
print(x)

x = x.upper()       # 2. To upper case
print(x)

x = x.title()       # 3. To title case
print(x)

x = x.swapcase()    # 4. Upper to lower case and vice versa
print(x)

x = x.capitalize()  # 5. Upper case to first character
print(x)

x = x.casefold()    # 6. to lower case
print(x)

amir rehman
AMIR REHMAN
Amir Rehman
aMIR rEHMAN
Amir rehman
amir rehman

#### 2. Modifying String

In [44]:
# Strip()          ---> remove whitespaces at start and end of string
# Replace()        ---> replace char in string
# Split()          ---> split char
# Splitlines()     ---> split char

In [45]:
# + operator to concatenate strings
# error on concatenating string and numbers together       ----> use format() method

In [46]:
# format()


age = 20
age2 = 40
text = 'my age is {} years and {} days'
print(text.format(age,age2))

my age is 20 years and 40 days

#### Characteristics / Properties

#### 3. Escape Characters
Used to insert characters that are illegal in a string

In [1]:
# \\   \'   \"   \n    \r    \t    \b    \f     \ooo   \xhh

## Tools

#### 1. Finding length of String

In [3]:
x = 'amir rehman'
print(len(x))

11

#### 2. Checking text in String

In [4]:
x = 'my name is amir rehman'
print ('amir' in x)

True

In [5]:
x = 'my name is amir'
if 'amir' in x:
    print('yes it contains \'amir\'')

yes it contains 'amir'

In [ ]:
name = ['a','b','c','d','e']
if 'c' in name:
    print(name.index('c'))

#### 3. Checking text if not in String

In [6]:
x = 'my name is amir rehman'
print ('amir' not in x)

False

In [7]:
x = 'my name is amir rehman'
if 'asad' not in x:
    print('yes is does not contain asad')

yes is does not contain asad

In [8]:
name = ['1','2','3','4','5']
if '8' in name:
    print(name.index('8'))